### JetBrains template
.idea/
provider-io/out/

### Java template
# Compiled class file
*.class

# Log file
*.log
/log/
log/
logs/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Docker template
docker-compose.*.yml
Dockerfile.*
/.gradle/
/Dockerfile
/*.iml
/.gitignore
/build.gradle
/.dockerignore
/docker-compose.yml
/src/

*.bin